.boardContainer {
  overflow-x: auto;
  white-space: nowrap;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  box-sizing: border-box;
  background-color: #10a630;
  padding: 20px 30px 20px 0;
  text-align: end;
  color: rgb(223, 223, 223);
  font-weight: 700;
}

.logout {
  margin-left: 10px;
  cursor: pointer;
  text-decoration: underline;
}

.inputBoard {
  margin-top: 50px;
  padding: 25px;
}

.inputBoard > span {
  background-color: #10a630;
  padding: 15px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}

.newInputBoard {
  width: 300px;
  margin-left: 20px;
  padding: 15px;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #10a630;
}

.newInputBoard::placeholder {
  font-size: 1.1rem;
}

.boardSection {
  display: flex;
  flex-wrap: nowrap;
  padding: 50px 0 50px 50px;
  background-color: tan;
}

.boardCard {
  position: relative;
  background-color: thistle;
  width: 250px;
  height: 100px;
  margin: 30px;
  padding: 0;
}

.removeBtn {
  border: none;
  background-color: red;
  position: absolute;
  right: 0;
}

.inputTodo {
  display: block;
  position: absolute;
  bottom: 0;
}