.boardContainer {
  border: 5px solid #E2DAC8;
  margin: 30px;
  border-radius: 25px;
}

.newInputBoard {
  margin-left: 5%;
  width: 300px;
  height: 30px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #E2DAC8;
  margin-top: 30px;
}

.newInputBoard::placeholder {
  font-size: 1.1rem;
  vertical-align: bottom;
  text-align: left;
  padding-left: 10px;
  color: rgba(226, 218, 200, 0.5);
}

.boardSection {
  background-color: #E2DAC8;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 30px;
  padding: 2% 5%;
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
  border-radius: 0 0 10px 10px;
}

.boardCard {
  position: relative;
  border: 2px solid #2A4071;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25);
  list-style: none;
  padding: 0;
  width: 250px;
  min-width: 250px;
  min-height: 300px;
  margin-right: 50px;
}

.board-title {
  background-color: #B4B9CE;
  border-bottom: 2px solid #2A4071;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  font-size: 1.2rem;
  color: #2A4071;
  font-weight: 700;
  height: 35px;
}

.removeBtn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #2A4071;
  color: #E2DAC8;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  height: 35px;
  padding: 0 10px;
}

.inputTodo {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background: #FFFDFA;
  border: none;
  border-top: 1px solid #2A4071;
  width: 100%;
  height: 30px;
}

.inputTodo::placeholder {
  padding: 5px;
  font-size: .9rem;
}

.todos {
  display: flex;
  padding: 3px;
  border-bottom: 1px solid #2A4071;
}

.todos > span {
  flex-grow: 1;
}

.checkbox {
  display: none;
}

.checkbox + label {
  display: inline-block;
  background-color: #FFFDFA;
	width: 15px;
	height: 15px;
  cursor: pointer;
  border: 1px solid #FFFDFA;
}

.checkbox:checked + label {
  background-color: #2A4071;
  border: 1px solid #FFFDFA;
}

.todo-content {
  margin-left: 10px;
}

.todo-remove {
  background-color: #E2DAC8;
  font-weight: 700;
  border: none;
  cursor: pointer;
}